/* 
    Author: Siqian Liu
	Date: Mar. 9, 2024
	Desc: Public CSS for all HTML pages Assinment 1.
*/
body {
  margin:0;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: rgb(244, 236, 230);
  box-sizing: border-box;
  font-size: 14px;
}

header {
  position: fixed; 
  display:flex;
  justify-content: space-between;
  align-items: center;
  top: 0; 
  left: 0; 
  width: 100%; 
  background-color: white; 
  z-index: 1000;
}

#s1 {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


#s1 p{
	font-size: 24px;
	}
.name-role {
    font-size: 24px;
}

.name-role>.blue-square {
  margin-right: 5px;
  margin-left: 10px;
}

.name-role .name {
    font-weight: bold;
    margin-right: 10px;
}

.name-role .role {
    font-size:18px;
    opacity: 0.75; 
}

nav {
  display:flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
}

nav a {
  font-size: 12px;
  text-decoration: none;
  color: black;
  padding:0 15px;
}

nav a:hover {
    color:blue;
}


main {
  min-height: 100%;
  margin-top: 77px;
  box-sizing: border-box;
}

footer {
  position: fixed;
  text-align: center;
  font-size: 10px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  bottom: 20px;
}

.blue-square {
    display: inline-block;
    width:18px;
    height:18px;
    background-color: blue;
}

.blue-square-small {
    display: inline-block;
    width:12px;
    height:12px;
    background-color: blue;
    margin-right:5px;
}

.blue-square+p {
    display:inline-block;
    font-size:18px;
}
a{
	text-decoration: none;
}